# Mapeando el Universo

## An치lisis y Curaci칩n

### Lectura de datos

In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
filename = "dataset/DiploDatos.csv"

In [5]:
df = pd.read_csv(filename,index_col=0)

In [6]:
df['modelColor_ug'] = df['modelMag_u'] - df['modelMag_g']
df['modelColor_gr'] = df['modelMag_g'] - df['modelMag_r']
df['modelColor_ri'] = df['modelMag_r'] - df['modelMag_i']
df['modelColor_iz'] = df['modelMag_i'] - df['modelMag_z']
df['petroColor_ug'] = df['petroMag_u'] - df['petroMag_g']
df['petroColor_gr'] = df['petroMag_g'] - df['petroMag_r']
df['petroColor_ri'] = df['petroMag_r'] - df['petroMag_i']
df['petroColor_iz'] = df['petroMag_i'] - df['petroMag_z']

### Uniendo dataframes

* Vamos a unir la tabla anterior con otra donde para algunas de las galaxias la gente a votado si se corresponde con una galaxia espiral, eliptica o irregular.

In [7]:
filename = 'dataset/DiploDatos_Zoo.csv'

In [8]:
zoo = pd.read_csv(filename,index_col=0)

In [9]:
dd = df.join(zoo)

-----------------------------------------------------

# **Resoluci칩n Punto 1 - An치lisis general**
 
#### **1.1)** Describir el conjunto de datos.

In [10]:
# Seleccionamos 33 variables con las que vamos a trabajar

important_cols = ['z', 'velDisp', 'ra', 'dec', 'subClass',
                  'modelMag_u', 'modelMag_g','modelMag_r','modelMag_i', 'modelMag_z', 
                  'petroMag_u', 'petroMag_g', 'petroMag_r', 'petroMag_i', 'petroMag_z',
                  'deVRad_u', 'deVRad_g', 'deVRad_r', 'deVRad_i', 'deVRad_z',
                  'expRad_u', 'expRad_g', 'expRad_r', 'expRad_i', 'expRad_z',
                  'petroRad_u','petroRad_g','petroRad_r','petroRad_i','petroRad_z',
                  'spiral', 'elliptical', 'uncertain',]

In [11]:
data= dd[important_cols]

In [12]:
data.dtypes

z             float64
velDisp       float64
ra            float64
dec           float64
subClass       object
modelMag_u    float64
modelMag_g    float64
modelMag_r    float64
modelMag_i    float64
modelMag_z    float64
petroMag_u    float64
petroMag_g    float64
petroMag_r    float64
petroMag_i    float64
petroMag_z    float64
deVRad_u      float64
deVRad_g      float64
deVRad_r      float64
deVRad_i      float64
deVRad_z      float64
expRad_u      float64
expRad_g      float64
expRad_r      float64
expRad_i      float64
expRad_z      float64
petroRad_u    float64
petroRad_g    float64
petroRad_r    float64
petroRad_i    float64
petroRad_z    float64
spiral        float64
elliptical    float64
uncertain     float64
dtype: object

In [13]:
# Descripci칩n del conjunto de datos num칠ricos

data.describe().round(3)

,z,velDisp,ra,dec,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,petroMag_u,...,expRad_i,expRad_z,petroRad_u,petroRad_g,petroRad_r,petroRad_i,petroRad_z,spiral,elliptical,uncertain
count,864064.000,864064.000,864064.000,864064.000,864064.000,864064.000,864064.000,864064.000,864064.000,864064.000,...,864064.000,864064.000,864064.000,864064.000,864064.000,864064.000,864064.000,621957.000,621957.000,621957.000
mean,0.147,152.105,180.985,23.170,19.357,17.631,16.840,16.340,15.969,19.320,...,1.578,1.309,10.571,5.773,5.586,5.507,5.777,0.286,0.094,0.620
std,0.113,99.785,68.994,19.353,87.577,86.220,75.435,79.185,83.465,87.580,...,79.088,83.358,18.943,5.313,4.180,4.708,5.663,0.452,0.291,0.485
min,-0.011,0.000,0.001,-11.253,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,-9999.000,...,-9999.000,-9999.000,0.000,0.000,0.036,0.000,0.002,0.000,0.000,0.000
25%,0.074,87.723,145.631,6.391,19.137,17.663,16.867,16.455,16.146,19.083,...,1.156,1.008,3.096,3.572,3.676,3.588,3.540,0.000,0.000,0.000
50%,0.115,142.108,183.556,21.064,19.879,18.257,17.414,16.989,16.684,19.797,...,1.611,1.496,5.494,4.864,4.811,4.657,4.626,0.000,0.000,1.000
75%,0.175,202.606,221.971,37.826,20.718,18.820,17.780,17.367,17.111,20.608,...,2.724,2.426,9.854,6.585,6.388,6.183,6.212,1.000,0.000,1.000
max,1.002,850.000,359.998,71.767,31.771,32.297,33.846,32.102,29.184,41.271,...,59.372,63.406,258.573,258.476,258.465,258.462,258.535,1.000,1.000,1.000

In [14]:
# Descripci칩n del conjunto de datos no num칠ricos

data.describe(include=['object'])

       subClass
count    864064
unique        8
top        null
freq     543479

#### **1.2)** Tratamiento de datos duplicados

In [15]:
# Buscamos datos duplicados

data[data.duplicated(keep=False)]

Empty DataFrame
Columns: [z, velDisp, ra, dec, subClass, modelMag_u, modelMag_g, modelMag_r, modelMag_i, modelMag_z, petroMag_u, petroMag_g, petroMag_r, petroMag_i, petroMag_z, deVRad_u, deVRad_g, deVRad_r, deVRad_i, deVRad_z, expRad_u, expRad_g, expRad_r, expRad_i, expRad_z, petroRad_u, petroRad_g, petroRad_r, petroRad_i, petroRad_z, spiral, elliptical, uncertain]
Index: []

[0 rows x 33 columns]

In [16]:
# Agrego una columna ID= New_ID

data.insert(0, 'New_ID', range(1, 1 + len(df)))
data[:5]

,New_ID,z,velDisp,ra,dec,subClass,modelMag_u,modelMag_g,modelMag_r,modelMag_i,...,expRad_i,expRad_z,petroRad_u,petroRad_g,petroRad_r,petroRad_i,petroRad_z,spiral,elliptical,uncertain
specObjID,,,,,,,,,,,,,,,,,,,,,
957075158303008768,1,0.012095,60.39996,197.448850,4.249896,STARBURST,18.10708,17.34184,17.08753,16.99253,...,2.995181,3.219022,5.525308,4.971421,5.432310,5.579518,5.739593,0.0,0.0,1.0
957066087332079616,2,0.141718,217.80020,197.458925,4.451149,null,19.56142,17.60611,16.52897,16.07807,...,2.335519,1.985513,5.993482,7.363978,6.454299,6.530231,5.925250,0.0,0.0,1.0
957065537576265728,3,0.140137,138.90830,197.473340,4.417710,null,19.56201,18.19559,17.34286,16.92395,...,1.765764,1.564937,6.892387,5.499682,4.686324,4.435403,4.570505,1.0,0.0,0.0
957066911965800448,4,0.066672,241.28300,197.583262,4.300230,null,18.38973,16.40218,15.47812,15.05008,...,2.100512,1.896980,9.132842,7.098280,7.010883,7.113369,6.032235,0.0,1.0,0.0
957067186843707392,5,0.183667,118.87630,197.601252,4.397977,STARFORMING,19.44434,18.39804,17.81157,17.45442,...,1.604485,1.443289,3.345433,3.325846,3.159653,3.284206,3.198071,NaN,NaN,NaN

In [17]:
# Estad칤sticos descriptivos de la columna ID

pd.Series(data.index,dtype=str).describe()

count    8.640640e+05
mean     1.631710e+18
std      8.177153e+17
min      2.994897e+17
25%      9.143824e+17
50%      1.597679e+18
75%      2.275515e+18
max      3.383417e+18
Name: specObjID, dtype: float64

In [18]:
# nuevamente buscamos datos duplicados

data[data.duplicated(keep=False)]

Empty DataFrame
Columns: [New_ID, z, velDisp, ra, dec, subClass, modelMag_u, modelMag_g, modelMag_r, modelMag_i, modelMag_z, petroMag_u, petroMag_g, petroMag_r, petroMag_i, petroMag_z, deVRad_u, deVRad_g, deVRad_r, deVRad_i, deVRad_z, expRad_u, expRad_g, expRad_r, expRad_i, expRad_z, petroRad_u, petroRad_g, petroRad_r, petroRad_i, petroRad_z, spiral, elliptical, uncertain]
Index: []

[0 rows x 34 columns]

**NOTA:**    
* Tenemos 864.064.000 registros.
* No se detectaron registros duplicados.

#### **1.3)** Tratamiento de datos faltantes.

#### **1.4)** Tratamiento de outliers.

#### **1.5)** Considerando el objetivo pricipal de la mentor칤a, cu치les creen que ser칤an las variables m치s importantes a considerar?

**NOTA:** Las variables m치s importantes a considerar en este estudio ser칤an las magnitudes de las galaxias, en las distintas bandas fotom칠tricas, as칤 como la posicion angular en el cielo de las mismas y el redshift obtenido a partir de la espectroscopia.

#### **1.6)** Implementar herramientas en pos de la reproducibilidad de resultados.

# **Resoluci칩n Punto 2 - An치lisis estad칤stico**

* Nos ha contado el especialista que del proceso de adquisici칩n de los mismos se asegura que los datos son correctos y/o completos para aquellos objetos que tienen Magnitudes Pretosian en la banda r entre 14.5 y 17.77. Incluyan esta selecci칩n en su an치lisis.
  * Explorar la base de datos en b칰squeda de datos repetidos, en caso de hallarlos elegir la estrategia para su limpieza.
  * Dado que los datos son recolectados a trav칠s de mapeos sucesivos del cielo es posible que una galaxia sea observada m치s de una vez, y en cada observaci칩n se le asigne un ID diferente. Propongan una idea para defectar la base de datos de este problema.
       * **Extra**: el especialista en datos no conf칤a en objetos que tengan una separaci칩n angular con otro objeto menor a 1" de arco. Intenten limpiar los datos empleando este criterio.
  * Propongan una estrategia para tratar los datos faltantes (en algunas columnas los datos faltantes fueron sustituidos por valores extremos). Quitar o imputar?. Calcular los estad칤sticos de las distribuciones resultantes.
  * A침adir los campos con los colores calculados tanto para magnitudes petrosian como magnitudes model.
  * En funci칩n de las correlaciones observadas en el pr치ctico anterior, y con respecto a nuestra variable objetivo, propongan qu칠 variables se podr칤a excluir del dataset. 
  * Guardar el dataset "limpio" y generar un archivo README que contenga todos los pasos implementados en la curaci칩n de los datos.
  * Armen un contenedor de docker con las versiones exactas de todas las bibliotecas utilizadas.